@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ma Shan Zheng';
  src: url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');
}

.chinese-handwriting {
  font-family: 'Ma Shan Zheng', cursive;
  font-weight: 400;
}
